*{
    margin: 0px;
    padding: 0px;
}
.pics{
    display: inline-block;
    padding: 20px 0px 0px 80px;
}
.searchbox{
    display: inline-block;
    padding: 20px 0px 10px 80px;
}
#dropdown{
    width: 70px;
    height: 40px;
}
#youtube{
    width: 180px;
    height: 45px;
    
}
#search{
    width: 400px;
    height: 50px;
}
#voice{
    height: 50px;
    width: 50px;
}
#beel{
    height: 40px;
    width: 30px;
}
button{
    width: 80px;
    height: 40px;
}
.neavbarmenu{
    display: inline-block;   
    font-size: 20px;
    padding: 40px;
}
#navbar{
    position:absolute;
    left: 190px;
    top: 100px;
}
.sidebarmanu{
    list-style: none;
    font-size: 20px;
    padding: 20px;
}
#sibarmenu{
    margin-top: 30px;
    margin-left: 30px;
}
.videosline1{
    padding-left: 6px;
}
#Videos{
    position: absolute;
    left: 200px;
    bottom: -30px;
}